body{
    overflow-x: hidden;
}
.title-cards {
  position: relative;
  margin: 20px 0;
}

.title-cards h2 {
  color: #fff;
  margin-bottom: 10px;
}

/* CARD LIST */
.card-list {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  cursor: grab;
}

.card-list:active {
  cursor: grabbing;
}

.card-list::-webkit-scrollbar {
  display: none;
}

/* CARD */
.card {
  min-width: 180px;
  text-decoration: none;
  color: white;
}

.card img {
  width: 100%;
  border-radius: 6px;
  transition: transform 0.3s;
}

.card:hover img {
  transform: scale(1.08);
}

.card p {
  font-size: 14px;
  margin-top: 6px;
}

/* ARROWS */
.arrow {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.6);
  border: none;
  color: white;
  font-size: 40px;
  cursor: pointer;
  z-index: 10;
  padding: 8px 12px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s;
}

.title-cards:hover .arrow {
  opacity: 1;
}

.arrow.left {
  left: -10px;
}

.arrow.right {
  right: -10px;
}
